<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/dist/output.css" rel="stylesheet">
    
    <title>Fate NPC tracker</title>
</head>
<body class="bg-slate-100 flex flex-col items-center justify-items-center">
    <h1 class="flex-initial w-2/3 max-w-xl text-3xl font-bold underline m-5">Fate NPC tracker</h1>
    <section class="flex-initial w-2/3 max-w-xl break-after-column border-2 border-slate-500 m-5 rounded">
        <h2 class="text-2xl font-bold underline my-5 mx-7">Add a character</h2>
        <form action="/createCharacter" method="POST" class="m-5">
            <input type="text" placeholder="Character Name" name="charName" class="m-3">
            <input type="text" placeholder="Character Race" name="charRace" class="m-3">
            <input type="number" placeholder="Character Age" name="charAge" class="m-3">
            <input type="submit" class="m-3 hover:bg-slate-300 bg-slate-200 rounded-lg px-3 py-1">
        </form>
    </section>
    <section class="flex-initial w-2/3 max-w-xl border-2 border-slate-500 m-5 rounded">
        <h2 class="text-2xl font-bold underline m-3">List of Current Characters</h2>
        <ul>
            <% for(let i=0; i < info.length; i++) {%>
                <li id=<%= info[i]._id  %>  class="characters m-2 ">
                    <p class="text-l bg-slate-800 text-white rounded">
                        <span class="ml-5"><%= info[i].name %></span>
                        <span class="ml-5"><%= info[i].race %></span>
                        <span class="ml-5"><%= info[i].age %></span>
                        <span class="fas fa-pen ml-5"></span>
                        <span class='fa fa-trash ml-5'></span>
                    </p>
                    <form name="updateForm" class="hidden" action="/updateCharacter" method="PUT">
                        <input type="text" value="<%= info[i].name %>" name="updatedName" class="m-3">
                        <input type="text" value="<%= info[i].race %>" name="updatedRace" class="m-3">
                        <input type="number" value="<%= info[i].age %>" name="updatedAge" class="m-3">
                        <input type="submit" class="updateBTN m-3 hover:bg-slate-300 bg-slate-200 rounded-lg px-3 py-1" value="Update">
                        <input type="hidden" name="_id" value="<%= info[i]._id %>" class="m-3">
                    </form>
                </li>
            <% } %>
        </ul>
    </section>
    

    <script src="js/main.js"></script>
</body>
</html>